.titulo{
    text-align: center; /* Centrar el h2 */
            color: #007bff; /* Cambiar el color del texto (en este caso, azul) */
            font-family: Arial, sans-serif; /* Cambiar el tipo de letra */
}


